<form class="{{cssClass}} flexcol" autocomplete="off" data-tooltip-class="pf1">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

    <div class="header-details flexrow">
      {{> "systems/pf1/templates/items/parts/item-name.hbs"}}

      <ul class="summary">
      </ul>
    </div>
  </header>

  {{!-- Sidebar --}}
  <section class="sidebar">
    <header>
      <h3 class="item-type">{{itemType}}</h3>

      <h4 class="item-subtype">
        {{#if labels.childTypeDistinct}}
        {{labels.childType}}
        {{else}}
        {{labels.subType}}
        {{/if}}
      </h4>

      {{#if hasMultipleSlots}}
      <h4 class="slot">{{labels.slot}}</h4>
      {{/if}}
    </header>

    {{#if (and showIdentified (gt system.armor.enh 0))}}
    <label class="enhancement">
      <span>{{localize "PF1.Enhancement"}}</span>
      <span class="value">{{numberFormat system.armor.enh sign=true}}</span>
    </label>
    {{/if}}

    {{> "systems/pf1/templates/items/parts/item-sidebar-inputs.hbs"}}

    {{> "systems/pf1/templates/items/parts/item-sidebar-aura.hbs"}}

    {{#if (or labels.armor labels.mdex labels.acp)}}
    <div class="details">
      <h5>{{localize "PF1.Details"}}</h5>
      {{#if labels.armor}}
      <label class="armor-class">
        <span>{{localize "PF1.ACNormal"}}</span>
        {{#if labels.broken}}
        <span class="value effective">{{labels.armorValueEffective}}</span>
        <span class="value original">{{labels.armorValue}}</span>
        {{else}}
        <span class="value effective">{{labels.armorValue}}</span>
        {{/if}}
      </label>
      {{/if}}
      {{#if labels.acp}}
      <label class="acp">
        <span>{{localize "PF1.ACP"}}</span>
        <span class="value">{{labels.acpEffective}}</span>
      </label>
      {{/if}}
      {{#if labels.mdex}}
      <label class="mdex">
        <span>{{localize "PF1.MaxDexShort"}}</span>
        <span class="value">{{numberFormat system.armor.dex sign=true}}</span>
      </label>
      {{/if}}
      {{#if system.spellFailure}}
      <label class="asf">
        <span>{{localize "PF1.ArcaneSpellFailureAbbr"}}</span>
        <span class="value">{{system.spellFailure}}%</span>
      </label>
      {{/if}}
    </div>
    {{/if}}

    {{> "systems/pf1/templates/items/parts/item-sidebar-tags.hbs"}}
  </section>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    {{/unless}}
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="advanced">{{localize "PF1.Advanced"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.hbs"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/pf1/templates/items/parts/item-actions.hbs"}}

      {{!-- Equipment Type --}}
      {{#if showIdentified}}
      <div class="form-group">
        <label>{{localize "PF1.Type"}}</label>
        <div class="form-fields">
          <select name="system.subType">
            {{selectOptions equipmentCategories.types selected=system.subType}}
          </select>
        </div>
      </div>

      {{!-- Equipment Subtype --}}
      {{#if hasSubCategory}}
      <div class="form-group">
        <label>{{localize "PF1.Category"}}</label>
        <div class="form-fields">
          <select name="system.equipmentSubtype">
            {{selectOptions equipmentCategories.subTypes selected=system.equipmentSubtype}}
          </select>
        </div>
      </div>
      {{/if}}

      {{!-- Equipment Slot --}}
      {{#if hasMultipleSlots}}
      <div class="form-group">
        <label>{{localize "PF1.Slot"}}</label>
        <div class="form-fields">
          <select name="system.slot">
            {{selectOptions equipmentSlots selected=system.slot}}
          </select>
        </div>
      </div>
      {{else}}
      <input type="hidden" name="system.slot" value="{{system.subType}}">
      {{/if}}
      {{/if}}

      {{!-- Equipment Size --}}
      {{> "systems/pf1/templates/items/parts/item-size.hbs" allowAutoResizing=true}}

      {{!-- Hands Needed--}}
      {{#if variableHands}}
      <div class="form-group">
        <label>{{localize "PF1.Hands"}}</label>
        <div class="form-fields">
          <input type="number" name="system.hands" value="{{system.hands}}" min="0" step="1" placeholder="0">
        </div>
      </div>
      {{/if}}

      {{!-- Base Types --}}
      {{> "systems/pf1/templates/items/parts/item-base-types.hbs"}}

      <h3 class="form-header">{{localize "PF1.ArmorOrShield"}}</h3>

      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{localize "PF1.ArmorClass"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number">
        </div>
      </div>

      {{!-- Enhancement Bonus --}}
      {{#unless showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "PF1.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.enh" value="{{system.armor.enh}}" data-dtype="Number">
        </div>
      </div>
      {{/unless}}

      {{!-- Dexterity Modifier --}}
      <div class="form-group">
        <label>{{localize "PF1.MaxDexterityModifier"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.dex" value="{{system.armor.dex}}" placeholder="{{localize "PF1.Unlimited"}}" data-dtype="Number">
        </div>
      </div>

      {{!-- Armor Check Penalty --}}
      <div class="form-group">
        <label>{{localize "PF1.ArmorCheckPenalty"}}</label>
        <div class="form-fields">
          <input type="number" name="system.armor.acp" value="{{system.armor.acp}}" data-dtype="Number" placeholder="0">
        </div>
      </div>

      {{!-- Spell Failure --}}
      <div class="form-group">
        <label>{{localize "PF1.ArcaneSpellFailure"}}</label>
        <div class="form-fields">
          <input type="number" name="system.spellFailure" value="{{system.spellFailure}}" data-dtype="Number" placeholder="0">
        </div>
      </div>

      <h3 class="form-header">{{localize "PF1.Properties"}}</h3>

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        {{#if @root.showIdentifiedData}}
        <label class="checkbox artifact">
          <input type="checkbox" name="system.artifact" {{checked system.artifact}}> {{localize "PF1.Artifact"}}
        </label>
        {{/if}}
        <label class="checkbox timeworn">
          <input type="checkbox" name="system.timeworn" {{checked system.timeworn}}> {{localize "PF1.Timeworn"}}
        </label>
        <label class="checkbox nonlethal">
          <input type="checkbox" name="system.nonlethal" {{checked system.nonlethal}}> {{localize "PF1.Nonlethal"}}
        </label>
      </div>

      <h3 class="form-header">{{localize "PF1.Misc"}}</h3>

      <div class="form-group stacked">
        <label class="checkbox">
          <input type="checkbox" name="system.proficient" {{checked system.proficient}}> {{localize "PF1.ProficientAttack"}}
        </label>
      </div>

      {{> "systems/pf1/templates/items/parts/item-aura.hbs"}}

      {{!-- Equipment Materials --}}
      {{#if (or (eq item.subType "armor") (eq item.subType "shield"))}}
        <h3 class="form-header">{{localize "PF1.Materials.Label"}}</h3>
        {{!-- Base Material --}}
        {{> "systems/pf1/templates/items/parts/item-materials.hbs" label="PF1.Materials.Base" value_ref="system.armor.material.base.value" value=system.armor.material.base.value custom_ref="system.armor.material.base.custom" custom=system.armor.material.base.custom choices=materialCategories.basics}}

        {{!-- Chosen Material --}}
        {{> "systems/pf1/templates/items/parts/item-materials.hbs" label="PF1.Materials.Normal" value_ref="system.armor.material.normal.value" value=system.armor.material.normal.value custom_ref="system.armor.material.normal.custom" custom=system.armor.material.normal.custom choices=materialCategories.materials}}

        {{> "systems/pf1/templates/items/parts/item-materials-addon.hbs" reference="system.armor.material.addon"}}
      {{/if}}

      {{!-- Proficiencies --}}
      {{~> "systems/pf1/templates/items/parts/item-proficiencies.hbs"}}

      {{!-- Creature Type --}}
      {{~> "systems/pf1/templates/items/parts/item-creature-type.hbs"}}

      {{!-- Advanced --}}
      {{#unless showUnidentifiedData}}
      <h3 class="form-header">{{localize "PF1.Advanced"}}</h3>

      {{! Tags }}
      {{~> "systems/pf1/templates/items/parts/item-tags.hbs"}}

      {{! Identifier Tag }}
      {{~> "systems/pf1/templates/items/parts/item-tag.hbs"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab changes" data-group="primary" data-tab="changes">
      {{~> "systems/pf1/templates/items/parts/item-changes.hbs"}}
    </div>
    {{/unless}}

    <div class="tab links" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.hbs"}}
    </div>

    {{#unless showUnidentifiedData}}
    <div class="tab advanced" data-group="primary" data-tab="advanced">
      {{> "systems/pf1/templates/items/parts/item-advanced.hbs"}}
    </div>
    {{/unless}}
  </section>
</form>
