{{!-- Ability Scores --}}
<div class="ability-scores">
  <table class="ability-table">
    <thead>
      <tr>
        <th>{{localize "PF1.Ability"}}</th>
        <th>{{localize "PF1.Total"}}</th>
        <th>{{localize "PF1.Modifier"}}</th>
        <th>{{localize "PF1.Damage"}}</th>
        <th>{{localize "PF1.Drain"}}</th>
        <th>{{localize "PF1.Penalty"}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each system.abilities}}
      <tr class="ability" data-ability="{{@key}}">
        {{! Label }}
        <th class="label" data-tooltip-extended="abilityScore.{{@key}}">
          <a class="ability-name rollable">{{label}}</a>
        </th>

        {{! Total }}
        <td class="total">
          <span class="text-box direct" name="system.abilities.{{@key}}.value" data-dtype="String">{{totalLabel}}</span>
        </td>

        {{! Modifier }}
        <td class="modifier">{{numberFormat mod decimals=0 sign=true}}</td>

        {{! Damage }}
        <td class="damage">
          {{#if enabled}}
          <span class="text-box direct allow-relative" name="system.abilities.{{@key}}.damage"
            data-dtype="Number">{{#if damage}}{{damage}}{{/if}}</span>
          {{/if}}
        </td>

        {{! Drain }}
        <td class="drain">
          {{#if enabled}}
          <span class="text-box direct allow-relative" name="system.abilities.{{@key}}.drain"
            data-dtype="Number">{{#if drain}}{{drain}}{{/if}}</span>
          {{/if}}
        </td>

        {{! Penalty }}
        <td class="penalty">
          {{#if enabled}}
          <span class="text-box direct allow-relative" name="system.abilities.{{@key}}.userPenalty"
            data-dtype="Number">{{#if userPenalty}}{{userPenalty}}{{/if}}</span>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{!-- Point Buy Calculator (Temporary) --}}
  {{#if @root.inCharacterGeneration}}
  <div class="form-group temporary">
    <button type="button" class="pointbuy-calculator">
      <i class="fa-solid fa-calculator" inert></i>
      {{localize "PF1.Application.PointBuy.Title"}}
    </button>
    <p class="hint">
      <i class="fa-solid fa-triangle-exclamation" inert></i>
      {{localize "PF1.Application.PointBuy.SetupHint"}}
    </p>
  </div>
  {{/if}}

  <div class="armor-attributes">
    {{! ACP }}
    <div class="info-box acp" data-tooltip-extended="acp">
      <h5>{{localize "PF1.ACP"}}</h5>
      <span class="value">{{system.attributes.acp.total}}</span>
    </div>

    {{! Max Dex }}
    <div class="info-box maxdex" data-tooltip-extended="max-dex">
      <h5>{{localize "PF1.MaxDexShort"}}</h5>
      <span class="value">{{#if (ne system.attributes.maxDexBonus null)}}{{system.attributes.maxDexBonus}}{{else}}{{localize "PF1.Unlimited"}}{{/if}}</span>
    </div>

    {{#with implants}}
    <div class="info-box implants" data-tooltip-extended="implants">
      <h5>{{localize "PF1.Cybertech.Implantation"}}</h5>
      <span class="value">{{load}} / {{max}}</span>
    </div>
    {{/with}}

    {{#with asf}}
    <div class="info-box asf" data-tooltip-extended="asf">
      <h5>{{localize "PF1.ArcaneSpellFailureAbbr"}}</h5>
      <span class="value">{{total}}%</span>
    </div>
    {{/with}}
  </div>
</div>

{{!-- Traits --}}
{{> "systems/pf1/templates/actors/parts/actor-traits.hbs"}}
