.pf1-v2.application.troubleshooter {
  .form-body {
    &.migrating {
      > * {
        pointer-events: none;
      }
    }

    label {
      cursor: pointer;
      margin-bottom: 0.25rem;
    }

    button {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.25rem;
      align-items: center;
      justify-content: center;

      &:hover {
        :is(.progress.spinner, .progress.check) {
          color: var(--color-light-1);
        }
      }

      .progress {
        visibility: hidden;
        flex: 0 24px;
        margin: 0;

        &.spinner {
          animation: pf1-v2-constant-spin 2.5s infinite linear;
          color: var(--pf1-v2-text-highlight);
        }

        &.check {
          color: var(--pf1-v2-text-success);
        }
      }

      &.finished .progress {
        &.spinner {
          visibility: hidden;
        }

        &.check {
          visibility: visible;
        }
      }
    }

    &.migrating {
      button {
        .progress.spinner {
          visibility: visible;
        }
      }
    }
  }
}
