.message.pf1 {
  .level-up {
    .level-change {
      margin-bottom: 4px;
    }

    div.part {
      margin-bottom: 4px;
    }

    :is(h1, h2) {
      margin: 0 0 0.3rem 0;
      border-bottom: 1px solid brown;
    }

    h1 {
      font-size: var(--font-size-28);
    }

    h2 {
      font-size: var(--font-size-20);
      margin-top: 0.3rem;
    }

    .item {
      margin-bottom: 4px;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
