<div class="form-group base-types">
	<label>{{localize "PF1.BaseTypes.Label"}} <a class="fas fa-info-circle" data-tooltip="{{localize "PF1.BaseTypes.Description"}}"></a></label>
  <div class="form-fields">
	  <ul class="tag-list">
		  {{#each system.baseTypes}}
		  <li class="tag">{{this}}</li>
		  {{/each}}
	  </ul>
    <a class="entry-selector" data-for="system.baseTypes" data-fields="{{localize "PF1.BaseTypes.Label"}}" data-dtypes="String" data-flat="true"><i class="fas fa-edit" inert></i></a>
  </div>
</div>
