<nav class="sheet-navigation tabs" data-group="links" data-tabs-type="list">
  {{#each links.list as |link|}}
  <a class="item" data-tab="{{link.id}}" data-group="links">{{link.label}}</a>
  {{/each}}
</nav>

<section class="links-body">

  {{#each links.list as |link|}}
  {{!-- Children Tab --}}
  <div class="tab" data-group="links" data-tab="{{link.id}}">
    {{!-- Info --}}
    <div class="help-text">
      <i class="help-icon fas fa-info-circle"></i> {{link.help}}
    </div>

    <table class="item-links">
      <tr>
        <th>{{localize "PF1.Item"}}</th>

        {{#each link.fields}}
        <th class="extra-field">{{label}}</th>
        {{/each}}

        <th class="controls"></th>
      </tr>
      {{#each link.items}}
      <tr class="links-item{{#if broken}} broken-link{{/if}}" data-uuid="{{uuid}}" data-index="{{@index}}">
        {{!-- Link name and image --}}
        <td class="item-name">
          <img src="{{img}}" width="24" height="24">
          <span class="name">
            {{#if name}}{{name}}{{else}}{{uuid}}{{/if}}
            {{#if broken}}<i class="fa-solid fa-link-slash" data-tooltip="PF1.Missing"></i>{{/if}}
          </span>
          {{#if uuid}}
          <a class="source-item" data-uuid="{{uuid}}" data-tooltip="UUID: {{uuid}}">
            <i class="fas fa-book compendium-icon" inert></i>
          </a>
          {{/if}}
        </td>

        {{#each link.fields}}
        <td class="extra-field">
          <input type="text" data-dtype="{{type}}" value="{{lookup .. @key}}" name="system.links.{{link.id}}.{{../index}}.{{@key}}">
        </td>
        {{/each}}

        {{!-- Link Controls --}}
        <td class="controls">
          {{#if @root.owner}}
          <a class="link-control delete-link" data-uuid="{{uuid}}" data-index="{{@index}}" data-type="{{../id}}"
            data-tooltip="PF1.DeleteItem"><i class="fas fa-trash" inert></i></a>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{/each}}
</section>
