<section class="form-body {{cssClass}}" data-tooltip-class="pf1-v2">
  {{#unless hideSearch}}
    <input type="search" name="search" value="{{search}}"
           placeholder="{{localize "PF1.SearchFilterPlaceholder"}}">
  {{/unless}}
  <ol class="trait-list">
    {{#each choices}}
      <li data-choice="{{@key}}">
        <label class="checkbox">
          <input type="checkbox" name="choices.{{@key}}" data-dtype="Boolean" {{checked chosen}}>
          {{label}}
        </label>
      </li>
    {{/each}}
  </ol>

  {{! Custom }}
  {{#if hasCustom}}
    <div class="form-group stacked custom-tags">
      <h3>{{localize "PF1.Custom"}}</h3>
      <ul class="custom-tag-list">
        {{#each custom}}
          <li class="custom-tag" data-custom-tag="{{this}}">
            <a data-custom-tag="{{this}}" {{#if @root.editable}}data-action="delete"{{/if}}>
              <span>{{this}}</span>
              {{#if @root.editable}}
              <i class="fa-solid fa-delete-left" inert></i>
              {{/if}}
            </a>
          </li>
        {{/each}}
        {{#unless custom.length}}
          <li class="info" inert>{{localize "PF1.Application.TraitSelector.NoCustomEntries"}}</li>
        {{/unless}}
      </ul>

      {{#if editable}}
      <input type="text" name="custom" data-dtype="String"
        placeholder="{{localize "PF1.Application.TraitSelector.CustomPlaceholder"}}">

      <p class="hint">
        <i class="fa-solid fa-circle-info" inert></i>
        {{localize "PF1.Application.TraitSelector.CustomHint"}}
      </p>
      {{/if}}
    </div>
  {{/if}}
</section>
